@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .pattern-line::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        background: repeating-linear-gradient(
            315deg,
            var(--color-pattern-line),
            var(--color-pattern-line) 1px,
            transparent 1px,
            transparent 50%
        );
        background-size: 10px 10px;
        background-attachment: fixed;
        pointer-events: none;
    }

    .scrollbar-overlay {
        scrollbar-width: thin;
        scrollbar-color: var(--color-accent-4) transparent;
        scrollbar-gutter: stable;

        &::-webkit-scrollbar {
            width: 0.75rem;
            height: 0.375rem;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0.375rem;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
}
